@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

:root{
    --ColorPrincipal:#F58500;
    --ColorSecundario: #D46A00;
}

.button {
    background-color: var(--ColorPrincipal);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: var(--ColorSecundario);
    }
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    display: none;
}


.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
  }
