@import url(./base.css);

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}
.contact-form h2{
    text-align: center;
    padding: 1.2rem 0;
    font-weight: bold;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form .checkbox-group,
.contact-form .radio-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form .checkbox-group input,
.contact-form .radio-group input {
    margin-right: 5px;
}

.contact-form .image-group input {
    padding: 0;
}

.contact-form .radio-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* flex-wrap: wrap; Para que se ajuste en pantallas pequeñas */
}

.contact-form .radio-group label {
    white-space: nowrap; /* Evitar múltiples líneas en pantallas grandes */
    flex: 1; /* Para tomar el espacio disponible */
}
.tituloGenero{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.contact-form .radio-group input {
    margin-right: 5px;
    flex-shrink: 0; /* Para que no se encoja el input */
}

@media (max-width: 600px) {
    .contact-form .checkbox-group label {
        white-space: normal; /* Permitir múltiples líneas en pantallas pequeñas */
    }

    .contact-form .radio-group label {
        white-space: normal;
    }

    .contact-form {
        padding: 15px;
    }

    .contact-form h2 {
        font-size: 1.5em;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea,
    .contact-form button {
        font-size: 1em;
    }
}

.contact-form .checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    /*flex-wrap: wrap;  Para que se ajuste en pantallas pequeñas */
}

.contact-form .checkbox-group label {
    white-space: nowrap; /* Evitar múltiples líneas en pantallas grandes */
    flex: 1; /* Para tomar el espacio disponible */
}
.generos{
    display: flex;
}
.image-group{
    margin: 1.6rem 0;
}
.button{
    width: 100%;
}