@import url(./base.css);
a{
    text-decoration: none;
}

.header{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 1;
}
.contentLogo{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.contentIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    font-size: 2rem;
}
.contentIcons i{
    cursor: pointer;
}
.imgLogo{
    width: 13%;
}
.links{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.6rem;
}
.links a{
    font-size: 1.1rem;
    color: black;
    font-weight:bold;
    transition: all 0.4s ease;
}
.links a:hover{
    color:var(--ColorPrincipal);
}
.lineaNegra{
    background-color: rgba(98, 98, 98, 0.4);
    height: 1px;
    margin-bottom: 0.6rem;
}
