@import url(./base.css);
a{
    text-decoration: none;
}

.header{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 1;
}
.contentLogo{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.contentIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    font-size: 2rem;
}
.contentIcons i{
    cursor: pointer;
}
.imgLogo{
    width: 13%;
}
.links{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.6rem;
}
.links a{
    font-size: 1.1rem;
    color: black;
    font-weight:bold;
    transition: all 0.4s ease;
}
.links a:hover{
    color:var(--ColorPrincipal);
}
.lineaNegra{
    background-color: rgba(98, 98, 98, 0.4);
    height: 1px;
    margin-bottom: 0.6rem;
}
.listaResponsive{
    display: none;
}
.iconoLogin{
    color: black;
}
@media(max-width:1024px){
    .links{
        width: 100%;
        position: absolute;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 5rem;
        background-color: rgb(0, 0, 0,0.9);
        height: 100vh;
        gap: 2rem;
        pointer-events: none;
        opacity: 0;
        transition: all 0.6s ease;
    }

    .listaResponsive{
        display: unset;
        font-size: 2.3Rem;
        cursor: pointer
    }
    .rotarLista{
        transform: rotate(90deg);
    }
    .mostrarLista{
        opacity: 1;
        pointer-events: unset;
    }
    .imgLogo{
        width: 20%;
    }
    .contentIcons{
        gap: 1rem;
        font-size: 2.3rem;
    }
    .links a{
        font-size: 2rem;
        color: white;
    }
}

@media(max-width:480px){
    .imgLogo{
        width: 28%;
    }
    .contentIcons{
        gap: 1rem;
        font-size: 1.8rem;
    }
    
    .links a{
        font-size: 1.5rem;
        color: white;
    }
    .listaResponsive{
        font-size: 1.8rem;
    }
}