@import url(./base.css);

.IframeHeader{
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
}

.iframeFooter{
    width: 100%;
    height: 25vh;
    margin-top: 2rem;
    background-color: #222222;
    overflow: hidden;
}

.banner {
    background: url('../images/image.png') center; 
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.banner div {
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.banner div h2{
    font-weight: bold;
    line-height: 3rem;
}

.texto-contenido {
    width: 535px;
    height: 211px;
    top: 368px;
    left: 114px
}
  
.four-columns {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.column {
    width: calc(25% - 20px); /* Calculamos el ancho de cada columna */
    margin-right: 20px; /* Espacio entre las columnas */
    padding: 20px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

.column:last-child {
    margin-right: 0; /* Eliminamos el margen de la última columna para evitar desbordamiento */
}

.negrita {
    font-weight: bold;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos el contenido verticalmente */
    text-align: center; /* Centramos el texto horizontalmente */
    padding: 30px;
    margin: 30px;
}

.contenido img {
    max-width: 100%; /* Para asegurarnos de que la imagen no sea más ancha que el contenedor */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    width: 54px;
    height: 56px;
}

.contenedorProductos {
    justify-content: center !important;    
}

.visita{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.titulo-visita{
    font-weight: bold;
    font-size: 2.5rem;
}

.mapa{
    border-radius: 10px;
    width: 100%;
}

@media(max-width:480px){
    .banner div {
        width: 90%;
        align-items: center;
    }
    .banner div h1{
        text-align: center;
    }
}