@import url(./base.css);

.main-login{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.main-login h1{
    padding-bottom: 1rem;
   
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-login label{
    padding-bottom: 0.6rem;
    padding-top: 1rem;
    font-size: 1.1rem;
}
.password{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 2.5rem;
}
.password i{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--ColorPrincipal);
}
.form-login input{
    padding: 0.3rem 0.5rem;
    font-size: 1.1rem;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
}
.form-login .btnIniciar{
    margin: 2rem 0;
    border: 1px solid var(--ColorPrincipal);
    border-radius: 10px;
    background: var(--ColorPrincipal);
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: all 0.6s ease;
}

.btnIniciar:hover{
    color: black;
    background-color: transparent;
    border-color: black;
}

.linkRegis{
    color: black;
    text-align: center;
    transition: all 0.5s ease;
}

.linkRegis:hover{
    color: var(--ColorPrincipal);
}


@media(max-width:1024px){
    
    .main-login{
        padding-top: 3rem 0;
        
    }
    .main-login h1{
        font-size: 2.3rem;
    }
    .form-login label{
        font-size: 1.3rem;
    }
    .form-login input{
        padding: 0.5rem 0.7rem;
        font-size: 1.3rem;
        width: 50%;
    }
    .password i{
        font-size: 1.9rem;
    }
    .form-login .btnIniciar{
        font-size: 1.4rem;
    }
    .linkRegis{
        font-size: 1.3rem;
    }
}

@media(max-width:480px){
   
    .main-login h1{
        font-size: 1.6rem;
        text-align: center;
    }
    .form-login label{
        font-size: 1.1rem;
    }
    .form-login input{
        padding: 0.3rem 0.5rem;
        font-size: 1.1rem;
        width: 80%;
    }
    .password i{
        font-size: 1.5rem;
    }
    .form-login .btnIniciar{
        font-size: 1.1rem;
    }
    .linkRegis{
        font-size: 1rem;
    }
}