@import url(./base.css);

.IframeHeader{
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
}
.avisos{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.avisosContenido p{
    font-size: 1.1rem;
    text-align: center;
}
.avisosTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}
.avisosTitulo i{
    font-size: 2.3rem;
}
.avisosTitulo p{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem;
}
.avisosTitulo:hover{
    color: var(--ColorPrincipal);
}
.mainProductos{
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
}
.mainProductos .titulo{
    text-align: center;
    font-size: 2.5rem;
}
.contenedorProductos{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 4rem;
}
.filtros{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
.filtros .titulo{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.8rem 0;
    border-bottom: 1px solid black;
    width: 100%;
}
.filtroAnimal{
    font-size: 1.2rem;
    padding: 0.8rem 0;
}
.listaDeAnimales{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 10px;
    width: 90%;
}
.listaProductos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 2rem;
}
.contenedorProducto{
    flex-basis: calc(30% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
}
.imagenProducto{
    width: 70%;
}
.descripcionProducto{
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem 0;
}
.precioProducto{
    font-weight: bold;
    color: var(--ColorPrincipal);
    font-size: 1.3rem;
}

.iframeFooter{
    width: 100%;
    height: 25vh;
    margin-top: 2rem;
    background-color: #222222;
    overflow: hidden;
}

@media(max-width:480px){
    .avisos{
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }
    .avisosContenido p{
        font-size: 1rem;
    }
    .avisosTitulo i{
        font-size: 2.1rem;
    }
    .avisosTitulo p{
        font-size: 1.1rem;
    }
    .mainProductos .titulo{
        font-size: 2.2rem;
    }
    .contenedorProductos{
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .filtros{
        width: 100%;
    }
    .filtros .titulo{
        font-size: 1.2rem;
    }
    .filtroAnimal{
        font-size: 1.1rem;
    }
    .listaProductos{
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;
    }
    .contenedorProducto{
        flex-basis: calc(100% - 20px);
        margin-bottom: 0.5rem;
    }
    .imagenProducto{
        width: 60%;
    }
    .descripcionProducto{
        font-size: 1rem;
    }
    .precioProducto{
        font-size: 1.1rem;
    }
}