@import url(./base.css);

.IframeHeader{
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
}
.avisos{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.avisosContenido p{
    font-size: 1.1rem;
    text-align: center;
}
.avisosTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}
.avisosTitulo i{
    font-size: 2.3rem;
}
.avisosTitulo p{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem;
}
.avisosTitulo:hover{
    color: var(--ColorPrincipal);
}
.mainProductos{
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
.mainProductos .titulo{
    text-align: center;
    font-size: 2.5rem;
}
.contenedorProductos{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 4rem;
}
.filtros{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
.filtros .titulo{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.8rem 0;
    border-bottom: 1px solid black;
    width: 100%;
}
.filtroAnimal{
    font-size: 1.2rem;
    padding: 0.8rem 0;
}
.listaDeAnimales{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 10px;
    width: 90%;
}
.listaProductos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 2rem;
}
.contenedorProducto{
    flex-basis: calc(30% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.imagenProducto{
    width: 70%;
}
.descripcionProducto{
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem 0;
}
.precioProducto{
    font-weight: bold;
    color: var(--ColorPrincipal);
    font-size: 1.3rem;
}

.botonCarrito{
    width: 60%;
    padding: 0.3rem 0;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    transition: all 0.4s ease;
}

.botonCarrito:hover{
    background-color: var(--ColorPrincipal);

}
.itemProductoCarrito{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0,0.3);
}
.infoProducCarrito{
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
      
}
.textoDescripcion{
    display: flex;
    flex-direction: column;
}
.imgProdCarrito{
    width: 20%;
}
.descripcionCarrito{
    font-size: 1rem;
}
.precioCarrito{
    font-size: 1rem;
    font-weight: bold;
    color: var(--ColorPrincipal);
}
.divInteraccion{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    gap: 1rem;
}
.icono{
    font-size: 1.5rem;
    cursor: pointer;
}
.contador{
    font-size: 1.5rem;
    padding-top: 0.9rem;
}
.basura{
    color: red;
}
.footerModal{
    width: 100%;
    justify-content: space-between !important;
}
.precioTotal{
    font-size: 1.1rem;
}
.numeroTotal{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--ColorPrincipal);
}
.divAdmin{
    display: flex;
    gap: 1.4rem;
    padding-top: 0.8rem;
    font-size: 1.3rem;
}
.divAdmin .editar{
    background-color: green;
    border-radius: 100%;
    padding: 0.2rem 0.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
.divAdmin .editar:hover{
    background-color: rgb(1, 85, 1);
}
.divAdmin .borrar{
    background-color: red;
    border-radius: 100%;
    padding: 0.2rem 0.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
.divAdmin .borrar:hover{
    background-color: rgb(94, 0, 0);
}
.modalBorrarProd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.modalBorrarProd img{
    width: 30%;
}
.modalBorrarProd p{
    text-align: center;
}
.iframeFooter{
    width: 100%;
    height: 25vh;
    margin-top: 2rem;
    background-color: #222222;
    overflow: hidden;
}

.divMensajeBorrar{
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
}

@media(max-width:1024px){
    .avisos{
        width: 90%;
        justify-content: space-between;
        gap: 2rem;
    }
    .mainProductos{
        width: 90%;
    }
    .contenedorProductos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin: 0 auto;
    }
    .filtros{
        width: 50%;
        margin-top: 2rem;
    }
    .listaProductos{
        width: 100%;
    }
    .contenedorProducto{
        flex-basis: calc(50% - 20px);
    }
    .descripcionProducto{
        font-size: 1.3rem;
    }
    .precioProducto{
        font-size: 1.3rem;
    }
    .botonCarrito{
        font-size: 1.3rem;
    }
}

@media(max-width:480px){
    .avisos{
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }
    .avisosContenido p{
        font-size: 1rem;
    }
    .avisosTitulo i{
        font-size: 2.1rem;
    }
    .avisosTitulo p{
        font-size: 1.1rem;
    }
    .mainProductos .titulo{
        font-size: 2.2rem;
    }
    .contenedorProductos{
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .filtros{
        width: 100%;
    }
    .filtros .titulo{
        font-size: 1.2rem;
    }
    .filtroAnimal{
        font-size: 1.1rem;
    }
    .listaProductos{
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;
    }
    .contenedorProducto{
        flex-basis: calc(100% - 20px);
        margin-bottom: 0.5rem;
    }
    .imagenProducto{
        width: 60%;
    }
    .descripcionProducto{
        font-size: 1rem;
    }
    .precioProducto{
        font-size: 1.1rem;
    }
    .modalBorrarProd{
        display: flex;
        flex-direction: column;
    }
    .modalBorrarProd img{
        width: 50%;
    }
    .modalBorrarProd p{
        font-size: 1.1rem;
    }
}