@import url(./base.css);

.content-info{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-info{
    color: var(--ColorPrincipal);
    font-weight: bold;
    font-size: 2.6rem;
    margin-top: 1.8rem;
}
.info{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items:center;
    margin: 2rem 0;
}
.imgLocal{
    width: 40%;
    border-radius: 10px;
}

.infoNuestra{
    font-size: 1.1rem;
}

@media(max-width:1024px){
    .content-info{
        padding: 1rem 0;
    }
    .titulo-info{
        font-size: 2.7rem;
    }
    .info{
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem 0;
    }
    .imgLocal{
        width: 60%;
    }
    
    .infoNuestra{
        font-size: 1.6rem;
        text-align: center;
    }
}

@media (max-width:480px){
    .content-info{
        padding: 0rem 0;
    }
    .titulo-info{
        font-size: 2.5rem;
        text-align: center;
    }
    .info{
        gap: 1.5rem;
        margin: 1rem 0;
    }
    .imgLocal{
        width: 100%;
    }
    
    .infoNuestra{
        font-size: 1.3rem;
        text-align: center;
    }
}